{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='my.css') }}">

{% endblock %}

{% block title %}Management System{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
             data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('index') }}">Management System</a>
        </div>
		<br>
		<br>
        <div class="navbar-collapse collapse" id="navbarNavDropdown">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle nav-link" data-toggle="dropdown" id="navbarDropdownMenuLink" href="/" aria-haspopup="true" aria-expanded="false">SELECT</a>
					<div class="dropdown-menu bgnstyle" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='select') }}">SELECT</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='in') }}"/>IN</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='not_in') }}">NOT IN</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='exists') }}">EXISTS</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='not_exists') }}">NOT_EXISTS</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='count') }}">COUNT</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='sum') }}">SUM</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='max') }}">MAX</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='min') }}">MIN</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='avg') }}">AVG</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.select_btn', advance='having') }}">HAVING</a>
					</div>
				</li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('button.delete_btn') }}">DELETE</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('button.insert_btn') }}">INSERT</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('button.update_btn') }}">UPDATE</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('button.sql_btn') }}">SQL MODE</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="{{ url_for('button.reset_btn') }}">RESET</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle nav-link" data-toggle="dropdown" id="navbarDropdownMenuLink" href="/" aria-haspopup="true" aria-expanded="false">LOOK_TABLES</a>
					<div class="dropdown-menu bgnstyle" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item btnstyle" href="{{ url_for('button.table_btn', table='Manufacturer') }}">Manufacturer</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.table_btn', table='Jobber') }}"/>Jobber</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.table_btn', table='Market') }}">Market</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.table_btn', table='Retailer') }}">Retailer</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.table_btn', table='Commodity') }}">Commodity</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.table_btn', table='Sell') }}">Sell</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.table_btn', table='Distribute') }}">Distribute</a>
					</div>
				</li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle nav-link" data-toggle="dropdown" id="navbarDropdownMenuLink" href="/" aria-haspopup="true" aria-expanded="false">ERD and Schema</a>
					<div class="dropdown-menu bgnstyle" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item btnstyle" href="{{ url_for('button.diagram_btn', diagram='ERD') }}">ERD</a>
						<br>
						<a class="dropdown-item btnstyle" href="{{ url_for('button.diagram_btn', diagram='Schema') }}"/>Schema</a>
					</div>
				</li>
			</ul>
		</div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" style=")">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

